@font-face {
    font-family: 'Gulim';                                                                                   
    src: url('../fonts/Gulim-01.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Gothic';  
    src: url('../fonts/GOTHIC.woff') format('woff');                                                                               
    font-weight: normal;
    font-style: normal;
  }