@font-face {
    font-family: 'Gulim';                                                                                   
    src: url('../fonts/gulim.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Gothic';                                                                                   
    src: url('../fonts/GOTHIC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }