@font-face {
    font-family: 'Gulim';                                                                                   
    // src: url('../fonts/gulim.ttf') format('truetype'),
    // url('../fonts/gulim.woff') format('woff');
    src: url('../fonts/GOTHIC.woff') format('woff');     
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Gothic';  
    src: url('../fonts/GOTHIC.woff') format('woff');                                                                               
    font-weight: normal;
    font-style: normal;
  }