@import 'mixins'
@import 'header'
@import 'fonts'
@import 'offer'
@import 'application'
@import 'features'


body
  font-family: 'Gulim', sans-serif

.conteiner
  width: 1200px
  margin: 0 auto

h2
  margin: 0
  font-weight: normal

p
  margin: 0

.next
  display: block
